/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

[v-cloak] {
    display: none;
}

/* common */

.d-flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

#container-bg {
    width: 100%;
    height: 100vh;
    padding: 20px 100px;
    background: linear-gradient(180deg, rgba(6,150,136,1) 15%, rgba(219,219,210,1) 15%);
}

#app {
    width: 100%;
    height: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

.header {
    padding: 5px 10px;
    align-items: center;
    background-color: #EAEAEA;
}

li {
    list-style: none;
}

/* side-navbar */

#side-navbar {
    height: 100%;
    width: 35%;
    flex-direction: column;
    background-color: white;
}

.notifiche {
    background-color: #8EDAFC;
    align-items: center;
    padding: 5px 10px;
}

.contact-img {
    width: 10%;
}

.contact-img img {
    width: 100%;
    border-radius: 50%;
}

.contact-content {
    padding: 5px 10px;
}

.contact-time {
    margin-left: auto;
}

.contact-info {
    padding-left: 20px;
}

.contact-time, .contact-access {
    font-size: 10px;
    font-weight: 100;
}

.header-btns {
    gap: 10px;
}

.bell-icon {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: white;
    color: #8EDAFC;
}

.contacts-list {
    flex-grow: 1;
    flex-basis: 0;
    overflow-y: auto;
    flex-direction: column;
}

#search {
    padding: 3px 10px;
}

#search-bar {
    margin-left: 35px;
    width: 80%;
    outline: none;
    border: none;

}
/* main-section */

#main-section {
    background-color: pink;
    height: 100%;
    width: 65%;
}