<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- googlefonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap" rel="stylesheet">
    <!-- fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- myCSS -->
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <!-- container-backgrund -->
    <div id="container-bg">
        <!-- app -->
        <div id="app" vcloak class="d-flex">
            <!-- side navbar -->
            <nav id="side-navbar" class="d-flex">
                <!-- side-header -->
                <header class="header d-flex" id="header-side">
                    <div class="contact-img">
                        <img :src="user.avatar" alt="user.name">
                    </div>                            
                    <div class="contact-info">
                        <div class="contact-name">{{user.name}}</div>
                    </div>
                    <div class="contact-time d-flex header-btns">
                        <div>
                            <i class="fa-solid fa-circle-notch"></i>
                        </div>
                        <div>
                            <i class="fa-solid fa-message"></i>
                        </div>
                        <div>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>
                    </div>
                </header>
                <!-- /side-header -->
                <div class="notifiche d-flex">
                    <div class="bell-icon d-flex justify-center align-items-center">
                        <i class="fa-solid fa-bell-slash"></i>
                    </div>
                    <div class="contact-info">
                        <div class="contact-name">Ricevi notifiche di nuovi messaggi</div>
                        <a href="#" class="contact-access">Ultimo messaggio inviato</a>
                    </div>
                </div>
                <div id="search" class="d-flex">
                    <div class="search-label-div">
                        <label for="search-bar"><i class="fa-solid fa-magnifying-glass"></i></label>
                    </div>
                    <div class="search-bar-div d-flex">
                        <input type="text" placeholder="Cerca o inizia una chat" id="search-bar">
                    </div>
                    
                </div>
                <ul class="contacts-list d-flex">
                    <!-- ciclo vfor elemento lista -->
                    <li v-for="(contact, index) in contacts" :class="{'active-chat' : currentChat===index}"  @click="activeChat(index)">
                        <div class="d-flex contact-content">
                            <div class="contact-img">
                                <img :src="contact.avatar" alt="contact.name">
                            </div>                            
                            <div class="contact-info">
                                <div class="contact-name">{{contact.name}}</div>
                                <div class="contact-access">Ultimo messaggio inviato</div>
                            </div>
                            <div class="contact-time">
                                12.00
                            </div>
                        </div>
                    </li>
                    <!-- /ciclo vfor elemento lista -->
                </ul>
            </nav>
            <!-- /side navbar -->
            <!-- main section -->
            <main id="main-section" class="d-flex">
                <!-- main-header -->
                <header class="header d-flex" id="header-main">
                    <div class="contact-img">
                        <img :src="contacts[currentChat].avatar" alt="contacts[currentChat].name">
                    </div>                            
                    <div class="contact-info">
                        <div class="contact-name">{{contacts[currentChat].name}}</div>
                        <div class="contact-access">Ultimo messaggio inviato</div>
                    </div>
                    <div class="contact-time d-flex header-btns">
                        <div>
                            <i class="fa-solid fa-circle-notch"></i>
                        </div>
                        <div>
                            <i class="fa-solid fa-message"></i>
                        </div>
                        <div>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>
                    </div>
                </header>
                <!-- /main-header -->
                <!-- main-section-central-section -->
                <section id="central-section">
                    <div id="central-section-container" class="d-flex">
                        <div class="message-box d-flex" v-for="(item, index) in contacts[currentChat].messages" :class="item.status">
                            <p class="message-txt">{{item.message}}</p>
                            <div class="message-time">*placeholder*</div>
                        </div>
                    </div>
                </section>
                <!-- /main-section-central-section -->
                <!-- main-footer -->
                <footer id="footer-main" class="d-flex align-items-center">
                    <div class="emoji">
                        <i class="fa-regular fa-face-smile"></i>
                    </div>
                    <div class="search-bar-div d-flex">
                        <input type="text" placeholder="Scrivi un messaggio" id="text-bar" v-model="messageText" @keyup.enter="sendMessage()">
                    </div>
                    <div class="microphone">
                        <i class="fa-solid fa-microphone"></i>
                    </div>
                </footer>
            </main>
            <!-- /main section -->
        </div>
        <!-- /app -->
    </div>
    <!-- /container-backgrund -->
    <!-- vueJS -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- myJS -->
    <script src="js/main.js"></script>
</body>
</html>